body {
    
    background-color: rgb(12, 10, 10);
}

.jt {
    
    text-align: center;
    justify-items: flex-start;
    margin-top: 300px;
    cursor: pointer;
}

.js {
    
    font-size: 30px;
    cursor: pointer;
    background-color: aqua;
    color: whites;
    padding: 10px 20px;
    border: none;
    transition: all 0.3s ease;

}

.js:hover {
    
    box-shadow: 40px;
    padding: 15px 30px;
    background-color: aqua;
}

